{% extends "/templates/standard.html.twig" %}

{% block content %}

<h1>{{title}}</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et nisi massa.<br>
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br>
    Aenean dignissim tincidunt ex. Proin egestas auctor augue ut suscipit. Sed eu ante nec velit.
</p>
{% endblock %}
